body {
  font-family: "Ubuntu", sans-serif;
}
:root {
  --white: #ffffff;
  --lightestGrey: #d6d6d6;
  --lightGrey: #686868;
  --grey: #242525;
  --darkGrey: #191818;
  --red: #b73556;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
}
